language: node_js
cache:
  - npm
node_js:
  - "0.10"
install:
  - npm install
  - npm install -g mocha
script:
  - npm test
before_install:
  - "mkdir ~/.npm"
  
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/cc6bb36f383e1af68df3
      - https://webhooks.gitter.im/e/d9a9f2f2bceea8a3d700
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
