<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Default Twee Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="shortcut icon" href="/favicon.ico"-->

    {% block css %}
        {% if settings.env == 'production' %}
        <link rel="stylesheet" href="/assets/build/{{twee.getConfig('twee:package:version')}}/core.{{twee.getConfig('twee:package:version')}}.min.css">
        {% else %}
        <link rel="stylesheet" href="/assets/build/{{twee.getConfig('twee:package:version')}}/core.{{twee.getConfig('twee:package:version')}}.css">
        {% endif %}
    {% endblock css %}
</head>

<body>
    {% block header %}
        {% include '../common/partials/header.base.html' %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block footer %}
        {% include '../common/partials/footer.base.html' %}
    {% endblock footer %}

    {% block js %}
    {% if settings.env == 'production' %}
        <script type="text/javascript" src="/assets/build/{{twee.getConfig('twee:package:version')}}/core.{{twee.getConfig('twee:package:version')}}.min.js"></script>
    {% else %}
        <script type="text/javascript" src="/assets/build/{{twee.getConfig('twee:package:version')}}/core.{{twee.getConfig('twee:package:version')}}.js"></script>
    {% endif %}
    {% endblock js %}
</body>
</html>
