<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    {% set package_version = twee.getConfig('twee:package:version') %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Starter Template for Bootstrap</title>

    {% block css %}
    {% if settings.env == 'production' %}
    <link href="/assets/build/{{ package_version }}/css/core.{{ package_version }}.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <link href="/assets/build/{{ package_version }}/css/ie-support.{{ package_version }}.min.css" rel="stylesheet">
    <![endif]-->
    {% else %}
    <link href="/assets/build/{{ package_version }}/css/core.{{ package_version }}.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <link href="/assets/build/{{ package_version }}/css/ie-support.{{ package_version }}.css" rel="stylesheet">
    <![endif]-->
    {% endif %}
    {% endblock css %}
</head>

<body>
{% block header %}
{% include '../common/partials/header.base.html' %}
{% endblock header %}

<div class="container">
    {% block content %}
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    {% endblock content %}
</div><!-- /.container -->

{% block footer %}
<footer class="footer">
    <hr>
    <div class="container">
        <p class="text-muted">&copy; Your Project</p>
    </div>
</footer>
{% endblock footer %}

{% block js %}
{% if settings.env == 'production' %}
<script type="/assets/build/{{ package_version }}/js/core.{{ package_version }}.min.js"></script>
<!--[if lt IE 9]>
<script type="/assets/build/{{ package_version }}/js/ie-support.{{ package_version }}.min.js"></script>
<![endif]-->
{% else %}
<script type="/assets/build/{{ package_version }}/js/core.{{ package_version }}.js"></script>
<!--[if lt IE 9]>
<script type="/assets/build/{{ package_version }}/js/ie-support.{{ package_version }}.js"></script>
<![endif]-->
{% endif %}
{% endblock js %}
</body>
</html>
